@using LibraryCms.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/js-layer")
    @Scripts.Render("~/Scripts/js-addgroup")
    @Styles.Render("~/Content/css-addgroup")
</head>
<body>
    <div id="addDiv">
        <ul>
            <li><span>用户组名称：</span><input class="input" type="text" name="groupName" value="" placeholder="" /></li>
            <li>
                <span>隶属于：</span>
                <select class="input">
                    @{
                        List<Department> departments = (List<Department>)ViewBag.departments;
                        foreach (var department in departments)
                        {
                            @(new HtmlString("<option value=\"" + department.DepartmentType + department.DepartmentId + "\">" + department.DepartmentName + "</option>"))
                        }
                    }
                </select>
            </li>
            <li>
                <span>拥有权限：</span>
                <div>
                    <input type="checkbox" name="rights" value="" /><span>书籍管理</span>
                    <input type="checkbox" name="rights" value="" /><span>书籍类别管理</span>
                    <input type="checkbox" name="rights" value="" /><span>书籍题库</span>
                    <br />
                    <input type="checkbox" name="rights" value="" /><span>用户管理</span>
                    <input type="checkbox" name="rights" value="" /><span>用户组管理</span>
                    <input type="checkbox" name="rights" value="" /><span>系部管理</span>
                </div>
            </li>           
        </ul>
        <a href="javascript:;">保存</a>
    </div>
</body>
</html>
